<div class="career">
  <h1 style="text-align:center;">Career</h1>
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <i class="fa fa-desktop fa-2x" style="float:right;" aria-hidden="true"></i>
        <h2>2022-</h2>
        <p>Sparkasse Bank (Junior Software Developer)</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <i class="fa fa-graduation-cap fa-2x" style="float:right;" aria-hidden="true"></i>
        <h2>2021-</h2>
        <p>Coding Giants (Teaching Assistant)</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <i class="fa fa-book fa-2x" style="float:right;" aria-hidden="true"></i>
        <h2>2021-2021</h2>
        <p>Ministry of Programming (Junior Software Developer)</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <span style="float:right;"><mat-icon style="font-size:30px;">menu_book</mat-icon></span>
        <h2>2021-</h2>
        <p>Sarajevo School of Science and Technology (Programming and Problem Solving Teaching Assistant)</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <i class="fa fa-book fa-2x" style="float:right;" aria-hidden="true"></i>
        <h2>2021-</h2>
        <p>Hastor Foundation (Member)</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <i class="fa fa-book fa-2x" style="float:right;" aria-hidden="true"></i>
        <h2>2019-2019</h2>
        <p> webmajstor.ba (Assistant Project Manager)</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <span style="float:right;"><mat-icon style="font-size:30px;">menu_book</mat-icon></span>
        <h2>2019-</h2>
        <p>Sarajevo School of Science and Technology (Computer Science Student)</p>
      </div>
    </div>
  </div>
</div>
